# Node.js
backend/node_modules/
backend/.env

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db